<footer class="footer">
	<small>
		Все права защищены 
		<a href="http://www.railstutorial.org/">официальная страница</a>
		для
		<a href="http://www.michaelhartl.com/">Елена Журавлёва</a>
	</small>
	<nav>
		<ul>
			<li>
				<%= link_to "О Елене", about_path %></li>
			<li>
				<%= link_to "Контакты", contact_path %></li>
			<li>
				<a href="http://news.railstutorial.org/">Блог</a>
			</li>
		</ul>
	</nav>
</footer>